<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  		<servlet-name>a1</servlet-name>
  		<servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>a1</servlet-name>
  		<url-pattern>/text</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>a2</servlet-name>
  		<servlet-class>Second</servlet-class>
  </servlet>
  <servlet-mapping>
  
  	<servlet-name>a2</servlet-name>
  	<url-pattern>/text1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  
  	<servlet-name>a3</servlet-name>
  	<servlet-class>Third</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>a3</servlet-name>
  	<url-pattern>/text2</url-pattern>
  </servlet-mapping>
</web-app>